name: formatting-check

on: [push, pull_request] 

jobs:
  check-formatting:
    name: Check Code Formatting
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Check Formatting
        run: gradle spotlessCheck